:root{
	--whiteColor: #fff;
	--semiGreyColor :#333333;
	--ghostWhite: #f8f8ff;
	--lightgreen: #99BA14;
	--darkgreen: #3A8C24;
}	

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
section{
    padding: 50px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.body{
	background: var(--semiGreyColor);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
/* ------------ menu btn style  ------------ */
.menu-btn{
	color: var(--whiteColor);
	font-size: 23px;
	cursor: pointer;
	display: none;
}
/* ------------ navbar section style  ------------ */
.navbar{
	position: fixed;
	width: 100%;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
	z-index: 999;
}

.navbar.sticky{
	padding: 15px 0;
	background: var(--lightgreen);
}


.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: var(--whiteColor);
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span{
	color: var(--lightgreen);
}

.navbar.sticky .logo a span{
	color: var(--whiteColor);
	transition: all 0.3s ease;
}


.navbar .menu li  {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a {
	color: var(--whiteColor);
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: var(--lightgreen);
}

.navbar.sticky .menu li a:hover{
	-webkit-text-stroke: .5px white;
}

/*--------------------Profile Section---------------------*/
.body{
	background: var(--semiGreyColor);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container{
	position: relative;
	width: 100%;
	max-width: 1500px;
	min-height: 1000px;
	background: var(--whiteColor);
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
	position: relative;
	background: var(--lightgreen);
	padding: 40px;
}

.ProfileText{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.ProfileText .imgBx{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.ProfileText .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ProfileText h2{
	color: var(--ghostWhite);
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
	font-family: 'Ubuntu', sans-serif;
}

.ProfileText h2 span{
	font-size: 0.8em;
	font-weight: 300;
}


/*--------------------Contact Info Section---------------------*/
.title{
	color: var(--whiteColor);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
.contactInfo {
	padding-top: 40px;
}

.contactInfo ul {
	position: relative;
}

.contactInfo ul li {
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.contactInfo ul li span {
	color: var(--whiteColor);
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
}

.contactInfo ul li .icon {
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: var(--darkgreen);
}

.contactInfo.education li{
 	margin-bottom: 15px;
 	font-family: 'Ubuntu', sans-serif;
}

.contactInfo.education h5 {
	color: var(--darkgreen);
}

.contactInfo.education h4:nth-child(2) {
	letter-spacing: 1.5px;
	color: var(--whiteColor);
	font-weight: 600;
}

.contactInfo.education h4 {
	color: var(--whiteColor);
	font-weight: 300;

}

/*--------------------Contact Info Section---------------------*/
.container .right_side{
	position: relative;
	margin: 40px;
	
}

.about {
	margin-bottom: 40px;
}

.about:last-child {
	margin-bottom: 0px;
}

.title2{
	color: var(--darkgreen);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

p{
	text-align: justify;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;

}

.about .box{
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.skills .box {
	position: relative;
	width: 95%;
	display: grid;
	grid-template-columns: 190px 1fr;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

.skills .box .percent{
	position: relative;
	width: 100%;
	height: 10px;
	background: #f0f0f0;
}	

.skills .box .percent div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--lightgreen);
}

/*--------------------Contact Info Section---------------------*/

.interest ul{
	display: grid;
	grid-template-columns: repeat(4,1fr);

}

.interest ul li {
	list-style: none;
	color: #333;
	font-weight: 600;
	margin: 10px 0;
	font-family: 'Poppins', sans-serif;
}

.interest ul li .fa {
	color: var(--lightgreen);
	font-size: 18px;
	width: 30px;
}

/*--------------------Responsive Section---------------------*/

@media (max-width: 1000px)
{

	section{
    padding: 90px 0;
	}
	.container{
		margin: 10px;
		grid-template-columns: repeat(1, 1fr);
	}

	.interest ul{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px)
{
	.about .box {
		flex-direction: column;

	}

	.interest ul{
		grid-template-columns: repeat(1, 1fr);
	}

	.skills .box{
		grid-template-columns: repeat(1, 1fr);
	}
}